@import "vars";
@import "fonts";

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p {
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
button {
	padding: 0;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

//!!!

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height: 100vh;
	background-color: #00D98D;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1850px;
	padding: 0 15px;
}

.btn{
	text-decoration: none;
		color: #FFD500;
		padding: 15px;
		background-color: #FF6969;
		cursor: pointer;
}

.header {
	background-color: #0070C5;
	padding: 20px 0;
	margin-bottom: 90px;

	&__inner {
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;

		font-family: 'Arial';
		font-size: 32px;
		font-weight: 700;
		
	}

	&__logo {
	}

	&__link {
		text-decoration: none;
		color: #FFD500;
		padding: 15px;
		background-color: #FF6969;
		position: relative;
		&::before {
		   position: absolute;
		   content: "";
		   display: block;
		   background-image: '../img/free-sticker-paper-plane-8136631.png';
		   background-repeat: no-repeat;
		   background-size: cover;
		   background-position: 0 0;
		}
	}

	&__exit {
		text-decoration: none;
		color: #FF6969;
		padding: 5px;
		display: block;
		border: 1px solid #FF6969;
	}
}


.notes {
	padding-bottom: 50px;

	&__inner {
		display: flex;
		gap: 58px;
		flex-wrap: wrap;
	}

	&__note {
		background-color: #FFD500;
		padding: 15px;
	}
}
.note {
	cursor: pointer;
	width: 300px;
	min-height: 300px;
	&__inner {
		position: relative;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	&__heading {
		font-size: 24px;
font-style: normal;
font-weight: 700;
	}

	&__text {
		font-size: 20px;
font-style: normal;
font-weight: 400;
	}

	&__bottom {
		position: absolute;
		bottom: -185px;
		right: 5px;
		display: flex;
		justify-content: end;
	}
	&-left{
		transform: rotate(3deg);
	}
	&-right{
		transform: rotate(-3deg);
	}
}
.footer {
	background-color: #0070C5;

	&__inner {
		padding: 15px 0;
	}

	&__text {
		text-align: center;
		font-size: 32px;
		font-weight: 700;
		color: #FF6969;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
}

.login {

	&__inner {
		padding: 0 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__img {
	}

	&__form {
		background-color: #FFD500;
		padding: 100px;
		box-shadow: 5px 5px 3px #000;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		input{
			border: 2px solid #00D98D;
			padding: 10px;
		}
		input::placeholder{
			color: black;
		}
	}

	&__name {
	}
	
	&__pass {
	}

	&__btn {
		border: none;
		font-size: 32px;
	}
}

.register {

	&__inner {
		padding: 0 200px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__img {
	}

	&__form {
		background-color: #FFD500;
		padding: 100px;
		box-shadow: 5px 5px 3px #000;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		input{
			border: 2px solid #00D98D;
			padding: 10px;
		}
		input::placeholder{
			color: black;
		}
	}

	&__name {
	}
	
	&__pass {
	}

	&__btn {
		border: none;
		font-size: 32px;
	}
}


.big {

	&__inner {
		max-width: 800px;
		padding: 50px 10px;
		background-color: #FFD500;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}

	&__heading {
	}

	&__text {
	}

	&__submit {
		padding: 20px 35px;
		background-color: #00D98D;
	}
}


.apps{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 1000px;
	margin: 0 auto;
	overflow-y: scroll;
	max-height: 200px;
	gap: 25px;
}
.application{
	padding: 30px;
	margin: 0;
	background-color: grey;
}